

{% block content %}
    <div class="container my-5 pt-5 text-center wrapper-container">
        <div class="forget-form-wrapper">
            <h3>
                {{ 'forgotPassword'|trans }}
            </h3>
            {{ form_start(requestForm) }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {{ form_row(requestForm.email, {label: false, attr:{placeholder: 'email'|trans}}) }}
                    </div>
                </div>
                <div class="pt-1 pb-4">
                    <small>
                        {{ 'enter_your_email_address_to_send_link'|trans }}
                    </small>
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <button type="submit" class="btn btn-primary custom-btn-primary w-100">{{ 'resetNow'|trans }}</button>
                </div>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}

{% block customScripts %}

{% endblock %}
