
{% block content %}
    <div class="container my-5 text-center wrapper-container">
        <div class="forget-form-wrapper">
            <h3>
                {{ 'resetPassword'|trans }}
            </h3>
            {{ form_start(resetForm) }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {{ form_row(resetForm.plainPassword.first, {label: false, attr:{placeholder: 'password'|trans}, id: 'first-password-input'}) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        {{ form_row(resetForm.plainPassword.second, {label: false, attr:{placeholder: 'passwordConfirm'|trans}}) }}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 text-center mt-2">
                    <button type="submit" class="btn btn-primary custom-btn-primary w-100">{{ 'resetNow'|trans }}</button>
                </div>
            </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
